* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: rgb(213, 224, 240);
}

.heading {
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
  text-shadow: 2px 1px 1px black;
  font-weight: bold;
}

.box {
  width: 300px;
  padding: 8px;
  background-color: rgb(167, 190, 231);
  border: 2px solid black;
  border-radius: 10px;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}

.display {
  height: 60px;
  padding: 8px;
  background: #fff;
  border: 1px solid black;
  border-radius: 6px;

  font-size: 2rem;
  font-weight: 700;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

button {
  height: 45px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.num {
  background-color: rgb(185, 181, 185);
}

.high {
  background-color: rgba(175, 238, 238, 0.9);
}

.equal {
  background-color: rgba(38, 38, 250, 0.9);
  color: white;
  grid-column: span 2;
}

.clear {
  background-color: rgb(46, 122, 122);
  color: white;
}
